[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-webviewtest
Exec=harbour-webviewtest
Name=WebViewTest
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
Name[de]=WebViewTest

[X-Sailjail]
# Replace with your organization as a reverse domain name
OrganizationName=uk.co.flypig
# ApplicationName does not have to be identical to Name
ApplicationName=harbour-webviewtest
# Add the required permissions here
Permissions=Internet
